<h1>Cálculo de INSS</h1>
<div>
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Salário</mat-label>
          <input matInput #salario>
        </mat-form-field>
      </td>
    </tr>

  </table>
</div> 
<div *ngIf='salario.value > 0'>
<button mat-raised-button (click)="calc(salario.value); salario.value=''">
  Calcular
</button>
</div>

<div  *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="loading == false && baseInss > 0">
  <h1>BASE INSS: {{ baseInss }}</h1>
  <h1>INSS DEVIDO: {{ inss }}</h1>
</div>



