
<h1>  Cálculo de valor liquido esperado</h1>

<div>
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Salário</mat-label>
          <input matInput #salario>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Dependentes </mat-label>
          <input matInput #dependentes>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div> 
<div *ngIf='salario.value'>
  <button mat-raised-button (click)="calc(salario.value, dependentes.value);">
    Calcular
  </button>
</div>


<div  *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="loading == false && salarioCarteira > 0">
  <h1>Valor de {{salarioCarteira}} necessário para atingir o valor líquido de {{salarioLiquido}}</h1>
</div>
