<h1>
  Cálculo IRRF
</h1>



<div>
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Salário</mat-label>
          <input matInput #salario>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Dependentes </mat-label>
          <input matInput #dependentes>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div *ngIf='salario.value > 0'>
    <button mat-raised-button (click)="calc(salario.value, dependentes.value); ">
      Calcular
    </button>
  </div>



  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="loading == false && baseIrrf > 0">
    <h1>BASE IRRF: {{ baseIrrf }}</h1>
    <h1>IRRF: {{ irrf }}</h1>
  </div>